$font-stack: Helvetica, sans-serif;
$white: rgba(255, 255, 255, 1);
$white-8: rgba(255, 255, 255, 0.8);
$white-4: rgba(255, 255, 255, 0.4);
$black: rgba(0, 0, 0, 1);
$black-8: rgba(0, 0, 0, 0.8);
$black-3: rgba(0, 0, 0, 0.3);
$black-1: rgba(0, 0, 0, 0.1);
$accent-blue: #18a0fb;

$tiny: 4px;
$base: 8px;
$xsmall: 16px;
$small: 24px;
$medium: 32px;
$large: 40px;
$xlarge: 48px;
$xxlarge: 64px;
$huge: 80px;

$UI-11-font: $font-stack;
$UI-11-style: normal;
$UI-11-weight: normal;
$UI-11-size: 11px;
$UI-11-lh: 16px;
$UI-11-ls: 0.005em;

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: $black;
}

.ValueSimple-container {
  align-items: center;
  height: $medium;
  border: 1px solid transparent; //this is to offset the hover border
  &:hover {
    border: 1px solid $black-1; //using border in order to round the edges (outline cannot do that)
    border-radius: 2px;
  }
  &:focus-within {
    margin: -1px;
    border: 2px solid $accent-blue;
  }
  &:hover .ValueSimple-input::placeholder {
    border-bottom: none;
  }
}

.ValueSimple-input {
  margin: $base - 1px;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
  padding: 0;
  width: 100%;
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-weight;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;
  color: $black;
  background-color: transparent;
  &::placeholder {
    color: $black-3;
    border-bottom: 1px solid $black-1;
  }
  &:focus {
    outline: none;
  }
}

.Label-container {
  display: flex;
  align-items: center;
  height: $medium;
}

.Label-input {
  margin: $base;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
  padding: 0;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  color: $black;
}

.SimpleWIcon {
  display: flex;
  background-color: transparent;
  border: 2px solid transparent;
  margin: -1px;
  path {
    fill: $black-3;
  }
  .ValueSimple-container {
    &:hover {
      border: 1px solid transparent;
    }
    &:focus-within {
      // margin-left: $base - 1px; //why the fuck does -9px work? -1px removes border width...
      border: 2px solid transparent;
    }
  }
  &:hover {
    margin: 0px;
    border: 1px solid $black-1; //using border in order to round the edges (outline cannot do that)
    border-radius: 2px;
  }
  &:focus-within {
    margin: -1px;
    border: 2px solid $accent-blue;
  }
  &:hover .ValueSimple-input::placeholder {
    border-bottom: none;
  }
}
