$font-stack: 'Inter', Helvetica, sans-serif;
$white: rgba(255, 255, 255, 1);
$white-8: rgba(255, 255, 255, 0.8);
$white-4: rgba(255, 255, 255, 0.4);
$black: rgba(0, 0, 0, 1);
$black-8: rgba(0, 0, 0, 0.8);
$black-3: rgba(0, 0, 0, 0.3);
$black-1: rgba(0, 0, 0, 0.1);
$accent-blue: #18a0fb;

$tiny: 4px;
$base-8: 8px;
$xsmall: 16px;
$small: 24px;
$medium: 32px;
$large: 40px;
$xlarge: 48px;
$xxlarge: 64px;
$huge: 80px;

$UI-11-font: $font-stack;
$UI-11-style: normal;
$UI-11-wgt-normal: 400;
$UI-11-wgt-medium: 500;
$UI-11-wgt-bold: 600;
$UI-11-size: 11px;
$UI-11-lh: 16px;
$UI-11-ls: 0.005em;

$UI-12-font: $font-stack;
$UI-12-style: normal;
$UI-12-wgt-normal: 400;
$UI-12-wgt-medium: 500;
$UI-12-wgt-bold: 600;
$UI-12-size: 12px;
$UI-12-lh: 24px;
$UI-12-ls: -0.006em;

$UI-14-font: $font-stack;
$UI-14-style: normal;
$UI-14-wgt-normal: 400;
$UI-14-wgt-medium: 500;
$UI-14-wgt-bold: 600;
$UI-14-size: 14px;
$UI-14-lh: 24px;
$UI-14-ls: -0.006em;

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 8px;
  font: 100% $font-stack;
  color: $black;
  cursor: default;
}

.LargeSectionTitle-container {
  height: $medium + $base-8;
}

.LargeSectionTitle-text {
  padding: $base-8;
  width: 100%;
  font-size: $UI-14-size;
  line-height: $UI-14-lh;
  letter-spacing: $UI-14-ls;
  font-weight: $UI-14-wgt-normal;
  color: $black;
}

.SectionTitle-container {
  height: $medium;
}

.SectionTitle-text {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  font-weight: $UI-11-wgt-bold;
  color: $black;
}

.Disclosure-container {
  display: flex;
  align-items: center;
  height: $medium;
}

.Disclosure-p {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  color: $black;
}

.DisclosureSection-p {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  font-weight: $UI-11-wgt-bold;
  color: $black;
}

.Label-container {
  display: flex;
  align-items: center;
  height: $medium;
}

.Label-input {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  color: $black;
}

.ValueSimple {
  cursor: default;
  padding: $base-8 $tiny $base-8 $base-8;
  height: $xsmall;
  width: 100%;
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-wgt-normal;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;
  color: $black;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
  &:placeholder-shown {
    border-radius: 0px;
    box-shadow: inset 0px -2px 0px 0px $white, inset 8px 0px 0px 0px white,
      inset -8px 0px 0px 0px white, inset 0px -3px 0px 0px $black-1;
  }
  &::placeholder {
    color: $black-3;
  }
  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $black-1;
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $accent-blue;
  }
}

.SimpleWIcon {
  display: flex;
  path {
    fill: $black-3;
  }

  .Icon32 {
    min-width: $medium;
    margin-right: -$base-8;
    &:hover,
    &:focus {
      cursor: ew-resize;
    }
  }

  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $black-1;
    .ValueSimple {
      &:hover,
      &:placeholder-shown {
        box-shadow: none;
      }
    }
  }

  &:focus-within {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $accent-blue;
    .ValueSimple:focus {
      box-shadow: none;
    }
  }
}

.ValueMultiple {
  display: flex;
  max-width: 152px;
  .SimpleWIcon:hover {
    box-shadow: inset 0px 0px 0px 0px $white, inset 0px 0px 0px 0px $black-1;
  }
  .SimpleWIcon:nth-child(1) {
    min-width: $medium + $medium - $base-8;
  }

  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $black-1;
    .SimpleWIcon:nth-child(n + 2) {
      box-shadow: inset 0px 1px 0px 0px $white, inset 0px -1px 0px 0px $white,
        inset 1px 0px 0px 0px $black-1;
      border-radius: 0;
    }
  }

  &:focus-within {
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $accent-blue;
    .SimpleWIcon {
      box-shadow: none;
    }
  }
  .ValueSimple:placeholder-shown {
    box-shadow: none;
  }
}

.Combobox {
  cursor: default;
  padding: $base-8 $tiny $base-8 $base-8;
  height: $xsmall;
  width: 100%;
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-wgt-normal;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;
  color: $black;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;

  &::placeholder {
    color: $black;
  }
  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $black-1;
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $accent-blue;
  }
}

.OptionMenu-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.OptionMenu {
  position: relative;
  display: flex;
  flex-direction: column;
}

.OptionMenu-trigger {
  position: relative;
  display: flex;
  align-items: center;
  padding: $base-8 $tiny $base-8 0;
  height: $xsmall;
  width: 100%;
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-wgt-normal;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;
  color: $black;
  background-color: transparent;
  cursor: default;
  .Icon32 {
    path {
      fill: $black-8;
    }
  }
  .Icon8 {
    position: relative;
    margin-left: $tiny;
    path {
      fill: $black-3;
    }
  }
  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $black-1;
    .Icon8 {
      position: absolute;
      right: $base-8;
      path {
        fill: $black-8;
      }
    }
  }
}

.OptionMenu-options {
  position: absolute;
  display: block;
  padding: 8px 0px;
  top: 100%;
  left: 0;
  right: 0;
  color: #fff;
  font-family: $UI-12-font;
  font-style: $UI-12-style;
  font-weight: $UI-12-wgt-normal;
  font-size: $UI-12-size;
  line-height: $UI-12-lh;
  letter-spacing: $UI-12-ls;
  background: #222;
  border-radius: 2px;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.OptionMenu-options.open {
  opacity: 1;
  visibility: visible;
}

.OptionMenu-option {
  position: relative;
  display: flex;
  padding-left: $medium;
  height: $medium;
  font-family: $UI-12-font;
  font-style: $UI-12-style;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: $UI-12-ls;
  color: #fff;
  // cursor: default;
  // transition: all 0.2s;

  &:hover {
    background-color: $accent-blue;
  }
  &.selected {
    color: $white;
    padding-left: 0;
    path {
      fill: $white-8;
      align-self: center;
    }
  }
}
