/******** COLOR ********/
//Background color styles
$white: #ffffff;
$white-8: #ffffffcc;
$white-4: #ffffff66;
$hud: #222;
$toolbar: #2c2c2c;

//Foreground color styles
$fg-high-priority: #000;
$fg-normal: #000000cc;
$fg-low-priority: #0000001a;
$flip-fg-high-priority: #ffffff;
$flip-fg-normal: #ffffffcc;
$flip-fg-low-priority: #ffffff66;

//Accent & indicator color styles
$primary-accent: #18a0fb;
$secondary-accent: #7b61ff;
$tertiary-accent: #ff00ff;
$success: #1bc47d;
$warning: #f24822;
$error: #ffeb00;

/******** SPACING ********/
$tiny: 4px;
$base-8: 8px;
$xsmall: 16px;
$small: 24px;
$medium: 32px;
$large: 40px;
$xlarge: 48px;
$xxlarge: 64px;
$huge: 80px;

/******** FONTS ********/
// Family
$font-stack: 'Inter', Helvetica, sans-serif;

// 11 pt
$UI-11-font: $font-stack;
$UI-11-style: normal;
$UI-11-wgt-normal: 400;
$UI-11-wgt-medium: 500;
$UI-11-wgt-bold: 600;
$UI-11-size: 11px;
$UI-11-lh: 16px;
$UI-11-ls: 0.005em;

// 12 pt
$UI-12-font: $font-stack;
$UI-12-style: normal;
$UI-12-wgt-normal: 400;
$UI-12-wgt-medium: 500;
$UI-12-wgt-bold: 600;
$UI-12-size: 12px;
$UI-12-lh: 24px;
$UI-12-ls: -0.006em;

// 14 pt
$UI-14-font: $font-stack;
$UI-14-style: normal;
$UI-14-wgt-normal: 400;
$UI-14-wgt-medium: 500;
$UI-14-wgt-bold: 600;
$UI-14-size: 14px;
$UI-14-lh: 24px;
$UI-14-ls: -0.006em;

/******** EFFECTS ********/
$hud-shadow: drop-shadow(0px 5px 17px rgba(0, 0, 0, 0.2))
  drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.15));

/******** MAIN CSS *******/

button,
[type='button'] {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 8px;
  font: 100% $font-stack;
  color: $fg-high-priority;
  cursor: default;
}

.LargeSectionTitle-container {
  height: $medium + $base-8;
}

.LargeSectionTitle-text {
  padding: $base-8;
  width: 100%;
  font-size: $UI-14-size;
  line-height: $UI-14-lh;
  letter-spacing: $UI-14-ls;
  font-weight: $UI-14-wgt-normal;
  color: $fg-high-priority;
}

.SectionTitle-container {
  height: $medium;
}

.SectionTitle-text {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  font-weight: $UI-11-wgt-bold;
  color: $fg-high-priority;
}

.Disclosure-container {
  display: flex;
  align-items: center;
  height: $medium;
}

.Disclosure-p {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  color: $fg-high-priority;
}

.DisclosureSection-p {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  font-weight: $UI-11-wgt-bold;
  color: $fg-high-priority;
}

.Label-container {
  display: flex;
  align-items: center;
  height: $medium;
}

.Label-input {
  padding: $base-8;
  width: 100%;
  font-size: $UI-11-size;
  line-height: $UI-11-lh;
  letter-spacing: $UI-11-ls;
  color: $fg-high-priority;
}

.ValueSimple {
  cursor: default;
  padding: $base-8 $tiny $base-8 $base-8;
  height: $xsmall;
  width: 100%;
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-wgt-normal;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;
  color: $fg-high-priority;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
  &:placeholder-shown {
    border-radius: 0px;
    box-shadow: inset 0px -2px 0px 0px $white, inset 8px 0px 0px 0px $white,
      inset -8px 0px 0px 0px $white, inset 0px -3px 0px 0px $fg-low-priority;
  }
  &::placeholder {
    color: $fg-normal;
  }
  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $fg-low-priority;
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $primary-accent;
  }
}

.SimpleWIcon {
  display: flex;
  path {
    fill: $fg-normal;
  }

  .Icon32 {
    min-width: $medium;
    margin-right: -$base-8;
    &:hover,
    &:focus {
      cursor: ew-resize;
    }
  }

  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $fg-low-priority;
    .ValueSimple {
      &:hover,
      &:placeholder-shown {
        box-shadow: none;
      }
    }
  }

  &:focus-within {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $primary-accent;
    .ValueSimple:focus {
      box-shadow: none;
    }
  }
}

.ValueMultiple {
  display: flex;
  max-width: 152px;
  .SimpleWIcon:hover {
    box-shadow: inset 0px 0px 0px 0px $white, inset 0px 0px 0px 0px $fg-low-priority;
  }
  .SimpleWIcon:nth-child(1) {
    min-width: $medium + $medium - $base-8;
  }

  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $fg-low-priority;
    .SimpleWIcon:nth-child(n + 2) {
      box-shadow: inset 0px 1px 0px 0px $white, inset 0px -1px 0px 0px $white,
        inset 1px 0px 0px 0px $fg-low-priority;
      border-radius: 0;
    }
  }

  &:focus-within {
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $primary-accent;
    .SimpleWIcon {
      box-shadow: none;
    }
  }
  .ValueSimple:placeholder-shown {
    box-shadow: none;
  }
}

.Combobox {
  cursor: default;
  padding: $base-8 $tiny $base-8 $base-8;
  height: $xsmall;
  width: 100%;
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-wgt-normal;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;
  color: $fg-high-priority;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;

  &::placeholder {
    color: $fg-high-priority;
  }
  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $fg-low-priority;
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $primary-accent;
  }
}

.dd-wrapper {
  width: 100%;
  user-select: none;
}

.dd-header {
  font-size: $UI-11-size;
  font-style: $UI-11-style;
  font-weight: $UI-11-wgt-normal;
  line-height: $xsmall;
  letter-spacing: $UI-11-ls;

  .Icon8 {
    position: relative;
    path {
      fill: $fg-normal;
    }
  }
  &:hover {
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 2px $fg-low-priority;
    .dd-header_arrow-icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 28px;
      right: 1px;
    }
    .Icon8 {
      padding: 0;
      path {
        fill: $fg-normal;
      }
    }
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $primary-accent;
    .dd-header_arrow-icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 28px;
      right: 1px;
      border-radius: 0 $tiny $tiny 0;
      background-color: $primary-accent;
    }
    .Icon8 {
      padding: 0;
      path {
        fill: $white;
      }
    }
  }
}

.dd-header_title {
  position: relative;
  display: flex;
  align-items: center;
  height: $medium;
  p {
    padding: $base-8 $tiny $base-8 $base-8;
  }
  .Icon32 {
    margin-right: -$base-8;
    path {
      fill: $fg-normal;
    }
  }
}

.dd-list {
  padding: 8px 0px;
  background-color: $hud;
  filter: $hud-shadow;
  border-radius: 2px;
  transition: all 0.1s;
}

.dd-list-item {
  padding-left: 0;
  .Icon32 {
    path {
      fill: $white;
    }
  }
  &button,
  [type='button'] {
    display: flex;
    align-items: center;
    width: 100%;
    color: $white;
    font-family: $UI-12-font;
    font-style: $UI-12-style;
    font-weight: 300;
    font-size: $UI-12-size;
    line-height: 32px;
    letter-spacing: $UI-12-ls;

    &:focus {
      outline: none;
    }
  }
  &:hover {
    background-color: $primary-accent;
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $primary-accent;
  }
}
